* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px Helvetica;
  background:url('../img/bg.jpg') center center no-repeat, #ffffff;
}

section {
  width: 300px;
  background: #ffffff;
  padding: 0 30px 30px 30px;
  margin: 150px auto;
  text-align: center;
  border-radius: 5px;
  border:1px solid #abb4c2;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

span {
  display: block;
  position: relative;
  margin: 0 auto;
  top: -40px;
  height: 80px;
  width: 80px;
  background: url('../img/filefolder.png') center center no-repeat, #ffffff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    border:1px solid #abb4c2;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 30px;
}

input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #abb4c2;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  color: #7f8c8d;
  padding-left:20px;
}
select 
{
width: 100%;
  background: #ffffff;
  border: 1px solid #abb4c2;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  color: #7f8c8d;
  cursor:pointer;
}

input:focus {
  outline: none;
}

button {

}
input[type="submit"]
{
  width: 100%;
  height: 40px;
  border: none;
  background: #3498db;
  color: #ecf0f1;
  font-weight: 100;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: all ease-in-out .2s;
  border-bottom: 3px solid #2980b9;
  cursor:pointer;
  text-align:center;
}

input[type="submit"]:hover {
  background: #2980b9;
}



h2 {
  font-size: .75em;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all ease-in-out .2s;
}

a:hover {
  color: #c0392b;
}



